In [3]:
import numpy as np
from numpy import genfromtxt


fpath=r"C:\Users\pc\Downloads\tipsf.csv"
data_set= genfromtxt(fpath, delimiter=',', skip_header = True)
data_set

array([[  0.  ,  16.99,   1.01, ...,   1.  ,   0.  ,   2.  ],
       [  1.  ,  10.34,   1.66, ...,   1.  ,   0.  ,   3.  ],
       [  2.  ,  21.01,   3.5 , ...,   1.  ,   0.  ,   3.  ],
       ...,
       [241.  ,  22.67,   2.  , ...,   0.  ,   0.  ,   2.  ],
       [242.  ,  17.82,   1.75, ...,   0.  ,   0.  ,   2.  ],
       [243.  ,  18.78,   3.  , ...,   2.  ,   0.  ,   2.  ]])

# 1. What is the total bill value

In [4]:
tb= np.sum(data_set[:,1])
print('Total Bill : ',tb)

Total Bill :  4827.77

# 2. What is the total tip value

In [5]:
totaltip = np.sum(data_set[:,2])
print('Total Tip : ',totaltip)

Total Tip :  731.5799999999999

# 3. Count how many Sunday,Saturday,Thursday,Friday are there

In [6]:

column = data_set[:, 5]
unique_values, counts = np.unique(column, return_counts=True)

days_of_week = ['Sunday', 'Saturday', 'Friday', 'Thursday']

for day, count in zip(days_of_week, counts):
    print(f'{day} : {count}')

Sunday : 87
Saturday : 76
Friday : 62
Thursday : 19

# 4. How many smokers are there

In [7]:
smokers= np.sum(data_set[:,4])
print('Smokers :', smokers)

Smokers : 93.0

# 5. What is the avg Tip given by Male and Female

In [8]:
Tip = data[:, 2]
sex = data[:, 3]

tip_male = np.mean(Tip[sex == 0])
tip_female = np.mean(Tip[sex == 1])

print("Average tip  males:", tip_male)
print("Average tip  females:", tip_female)

Average tip  males: 2.8334482758620685
Average tip  females: 3.0896178343949043

#  6. How much Amount have been spent bye Male and Female

In [9]:
total_bill = data[:, 1]
sex = data[:, 3]

total_bill_male = np.sum(np.where(sex == 0, total_bill, 0)) #create a new array with total_bill values, otherwise fill with 0
total_bill_female = np.sum(np.where(sex == 1, total_bill, 0))

print("Amount spent  males:", total_bill_male)
print("Amount spent  females:", total_bill_female)

Amount spent  males: 1570.9499999999998
Amount spent  females: 3256.8199999999997

# 7. What is the min and max tip given

In [10]:
tip=np.min(data_set[:,2])
print('Min Tip :',tip)

Min Tip : 1.0

In [12]:
tip=np.max(data_set[:,2])
print('Max Tip :',tip)

Max Tip : 10.0

# 8.How many Male and Females are going for Lunch and Dinner

**Lunch**

In [15]:
sex = data_set[:,3]
time = data_set[:,6]

male_lunch = np.sum((sex == 0) & (time == 1))
female_lunch = np.sum((sex == 1) & (time == 1))

print("Number of male  going to lunch:", male_lunch )
print("Number of female going tolunch:",female_lunch)

Number of male  going to lunch: 35
Number of female going tolunch: 33

**dinner**

In [16]:
sex = data_set[:,3]
time = data_set[:,6]

male_dinner = np.sum((sex == 0) & (time == 0))
female_dinner = np.sum((sex == 1) & (time == 0))


print("Number of male going to Dinner:", male_dinner )
print("Number of female going to Dinner:",female_dinner)

Number of male going to Dinner: 52
Number of female going to Dinner: 124

# 9. Find out the average size

In [19]:
average=np.mean(data_set[:,7])
print('Average Size: ', average)

Average Size:  2.569672131147541

# 10. How many Female smokers are there and Male smokers are there

In [21]:
gender=(data_set[:,3])
smokers=(data_set[:,4])
male_smokers=np.sum((gender==0) & (smokers==1))
female_smokers=np.sum((gender==1) & (smokers==1))
print('MaleSmokers:',male_smokers,'FemaleSmokers: ',female_smokers)

MaleSmokers: 33 FemaleSmokers:  60